{% extends "landing/base.html" %}
{% block content %}
  {% include "landing/partials/_hero.html" %}
  {% include "landing/partials/_about.html" %}
  {% include "landing/partials/_services.html" %}
  {% include "landing/partials/_certifications.html" %}
  {% include "landing/partials/_section-separator.html" %}
  {% include "landing/partials/_why.html" %}
  {% include "landing/partials/_section-separator.html" %}
  {% include "landing/partials/_partners.html" %}
  {% include "landing/partials/_section-separator.html" %}
  {% include "landing/partials/_contact.html" %}
  {% include "landing/partials/_section-separator.html" %}
  {% include "landing/partials/_footer.html" %}
{% endblock %}
